
<div class="message-body">
  <span class="message-text">{{message.body}}</span>
</div>

<div class="timestamp-div">
  <span class="timestamp {{if (eq message.fromId gatekeeper.currentUser.id) 'my-timestamp' 'their-timestamp'}}" id={{concat elementId "timestamp"}}>{{time-converter message.timestamp}}</span>
</div>

{{#liquid-tether
  target=(concat "#" elementId "timestamp")
  attachment="bottom middle"
  targetAttachment="bottom middle"
  offset='0px 0px'
}}
  <div class="{{if (eq message.fromId gatekeeper.currentUser.id) 'my-chat-message-triangle' 'their-chat-message-triangle'}}"></div>
{{/liquid-tether}}
