<img src={{imageSrc}}/ class="employee-image">
<div class="employee-text">
  <div class="employee-title">
    <span>{{personName}}</span>
    <span>{{companyName}}</span>
  </div>
  <span>{{message}}</span>
</div>
<img src="https://png.icons8.com/forward/win8/50/000000" class="arrow">
{{#tethered-box
  boxAttachment="top right"
  boxTargetAttachment="bottom right"
  target=".conversation-entry"
}}
  <div style="width:100px;height:50px;background:black;color:white">Wassup</div>
{{/tethered-box}}
{{yield}}
