<img src={{imageSrc}}/ class="employee-image">
<div class="employee-text">
  <div class="employee-title">
    <span>{{personName}}</span>
    <span>{{companyName}}</span>
  </div>
  <span>{{message}}</span>
</div>
<div class="conversation-options">
  <img src={{icon-asset "controlForward.png"}} {{action 'clickArrow'}} class="arrow"/>
  <img src={{icon-asset "controlOptions.png"}} {{action 'clickDots'}} class="dots"/>
</div>
{{yield}}
