<div class="list">
  <img src={{imageSrc}}>

<div class=profile-list-content>

  <div class="profile-list-first-column">
    <h3 class="job-name"> {{jobName}} </h3>
    <p class="company"> {{companyName}} </p>
    <p class="location"> {{location}} </p>
  </div>

  <div class="profile-list-second-column">
    <p class="date-range"> {{dateRange}} </p>
    <br/>
    <br/>
    <br/>
    <br/>
    <button type="submit" class="see-more-button" {{action 'seeMore'}}>{{buttonText}}</button>
  </div>

</div>


</div>

{{yield}}
