<div class="list">
  <img src={{imageSrc}}>

  <h3 class="job-name"> {{jobName}} </h3>

  <p class="date-range"> {{dateRange}} </p>

  <p class="company"> {{companyName}} </p>

  <br/>

  <p class="location"> {{location}} </p>

  <button type="submit" class="see-more-button" {{action 'seeMore'}}>{{buttonText}}</button>
</div>

{{yield}}
