{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}

<form {{action 'signIn'}}>
  <div>{{input value=email placeholder=emailPlaceholder required=true type=emailType errorMessage=emailErrorMessage}}</div>
  <div>{{input value=password placeholder=passwordPlaceholder required=true type=(if showPassword "text" "password") errorMessage=passwordErrorMessage}}</div>

  <button type="submit" disabled=isSigningIn>{{if isSigningIn signingInText signInText}}</button>
</form>
