<span class="back" {{action 'leftAction'}}>{{if clickLeft "Back" ""}}</span>
<span class="title">{{title}}</span>
<span class="filter" {{action 'rightAction'}}>{{if clickRight rightText}}</span>

{{yield}}
