<span class="back" {{action 'backAction'}}>{{if clickBack "Back" ""}}</span>
<span class="title">{{title}}</span>
<span class="filter" {{action 'filterAction'}}>{{if clickFilter "Filter" ""}}</span>

{{yield}}
