<main>
  {{outlet}}
</main>

{{#if showApplicationTemplate}}
  <nav class='application'>
    {{#link-to "search" class='nav-button'}}
      <div>
        <img src={{icon-asset "waldoSearch.png"}}>
        <span>Search</span>
      </div>
    {{/link-to}}

    {{#link-to "chat" class='nav-button'}}
      <div>
        <img src={{icon-asset "waldoJobs.png"}}>
        <span>Chat</span>
      </div>
    {{/link-to}}

    {{#link-to "notifications" class='nav-button'}}
      <div>
        <img src={{icon-asset "waldoNotifications.png"}}>
        <span>Notification</span>
      </div>
    {{/link-to}}

    {{#link-to "profile" class='nav-button'}}
      <div>
        <img src={{icon-asset "waldoProfile.png"}}>
        <span>Profile</span>
      </div>
    {{/link-to}}
  </nav>
{{/if}}
