<header>
  {{#if (eq appController.currentRouteName "chat.chat")}}
    <div>
      {{!-- TODO Make the back button conditional on whether or not there is a "back" Maybe make this a Component
      wher the "back" only shows if there is a back? And make the "filter" a boolean optional? and have some auto style
      (like flex) but height can be adjusted?--}}
      <span>Back</span>
      <span class="chat-title">Chat</span>
      <span>Filter</span>
    </div>
      {{search-bar
        placeholder=chatController.searchBarText
        onInput=(action chatController.actions.onSearchBarInput)
        value=chatController.searchValue
        image="https://png.icons8.com/search-filled/ios7/39/F9C20A"
      }}
  {{else if (eq appController.currentRouteName "chat.jobs")}}
    <span class="chat-title">Jobs</span>
      {{search-bar
        placeholder=jobsController.searchBarText
        onInput=(action jobsController.actions.onSearchBarInput)
        value=jobsController.searchValue
        image="https://png.icons8.com/search-filled/ios7/39/F9C20A"
      }}
  {{else if (eq appController.currentRouteName "chat.companies")}}
    <span class="chat-title">Companies</span>
      {{search-bar
        placeholder=companyController.searchBarText
        onInput=(action companyController.actions.onSearchBarInput)
        value=companyController.searchValue
        image="https://png.icons8.com/search-filled/ios7/39/F9C20A"
      }}
  {{else if (eq appController.currentRouteName "chat.requests")}}
    <span class="chat-title">Requests</span>
      {{search-bar
        placeholder=requestController.searchBarText
        onInput=(action requestController.actions.onSearchBarInput)
        value=requestController.searchValue
        image="https://png.icons8.com/search-filled/ios7/39/F9C20A"
      }}
  {{/if}}
  <nav>
    {{#link-to "chat.jobs" class='nav-button'}}
        <span>Jobs</span>
    {{/link-to}}

    {{#link-to "chat.chat" class='nav-button'}}
        <span>Chat</span>
    {{/link-to}}

    {{#link-to "chat.companies" class='nav-button'}}
        <span>Companies</span>
    {{/link-to}}

    {{#link-to "chat.requests" class='nav-button'}}
        <span>Requests</span>
    {{/link-to}}
  </nav>
</header>
<div class="chat-viewport">
  {{outlet}}
</div>
