<div class="div-outer-white">

 <div class="div-upper-blue">
 </div>

  <header>
    <div class="div-toolbar">
    <button class="edit-button" {{action 'viewPortfolio'}}>Edit</button>
    Profile
    <button class="settings-button" {{action 'viewPortfolio'}}>Settings</button>
    </div>
    <div class="search-div">
        {{search-bar placeholder="Search Profile"}}
        <img src="https://png.icons8.com/search-filled/ios7/39/00B5AF">
   </div>
    <br/>
  </header>

  <div class="div-inner-grey">

    <div class="div-content">

      <div class="profile-top">
        <img src="https://avatars0.githubusercontent.com/ml/4?s=120&v=4">
        <strong><h1> Courtney Smith </h1></strong>
        <h2> Visual Designer & Photographer </h2>
        </div>

        <div class="profile-buttons">
        <button class="portfolio-button" {{action 'viewPortfolio'}}>PORTFOLIO</button>
        <button class="resume-button" {{action 'viewResume'}}>RESUME</button>
      </div>

      <div class="div-experience-list">
        <h3> Experience </h3>
          {{#each model as |experience|}}

          {{profile-list
            imageSrc='https://avatars0.githubusercontent.com/ml/4?s=120&v=4'
            jobName='Graphical Design Intern'
            dateRange='2013 - 2015'
            companyName='IUPUI'
            location='Indianapolis, IN'
            buttonText='...see more' }}

          <hr>

        {{/each}}
      </div>

      <div class="div-education-list">
        <h3> Education </h3>
        {{#each model as |experience|}}
        {{profile-list
          imageSrc='https://avatars0.githubusercontent.com/ml/4?s=120&v=4'
          jobName='Visual Communications'
          dateRange='2013 - 2017'
          companyName='IUPUI'
          location='Indianapolis, IN'
          buttonText='...see more' }}
        <hr>

        {{/each}}
      </div>


    </div>
  </div>
</div>
