
<div id="bg">
  <img src="{{image-asset "welcomeBG3.jpg"}}"/>
</div>
<div class="wrapper">
<img class="search-page-logo" src="{{image-asset "waldo_logoColor.png"}}"/>

<h3 class="search-page-slogan"> Let's find the job you've been looking for. </h3>

<div class="div-search-bar">
{{search-bar
  placeholder="Search For Jobs"
  image="https://s3-us-west-1.amazonaws.com/waldojobs-dev/app-assets/icons/waldoSearch.png"
}}
</div>
<div id="recommended-jobs-header">
   <h3 id="recommended-jobs-title"> Our Top Picks for You. </h3>
    <div id="div-white-bar"{{action "showRecommendedJobSlider"}}><img id="recommended-jobs-open-close" src={{icon-asset "ctaUp.png"}}></div>
    <div id="recommended-jobs-body" class="show">
        {{#each model as |user|}}

        <div class="list">
          <img src="https://avatars0.githubusercontent.com/ml/4?s=120&v=4">
          <h3> Test Job Name</h3>

          <p> Test </p>

          <p> Test </p>

          <br/>

          <p> Test </p>

          <button type="submit" class="see-more-button">Test</button>
         </div>
         <hr>
        {{/each}}
    </div>
</div>
</div>
