{{!-- <div class="container"> --}}
<div align="center">

  <button>
    Sign Up With Google
  </button>

  <button>
    Sign Up With Facebook
  </button>

  <div>
    <div>{{input value=firstname placeholder="First Name"}}</div>
    <div>{{input value=lastname placeholder="Last Name"}}</div>
    <div>{{input value=email placeholder="Email"}}</div>
    <div>{{input value=phone placeholder="Phone"}}</div>
    <div>
      {{#power-select options=cities searchField="name" selected=city placeholder="City" onchange=(action "selectCity") as |city|}}
        {{city.name}}
      {{/power-select}}
    </div>
    <div>
      {{#power-select options=states searchField="name" selected=state placeholder="State" onchange=(action "selectState") as |state|}}
        {{state.name}}
      {{/power-select}}
    </div>
    <div>{{input value=password placeholder="Password"}}</div>
  </div>
  <button {{action 'createAccount'}}>Sign Up</button>


</div>
