
<div class="container">
<div align="center">

{{mdl-textfield label="Username"
                   required=false
                   fullWidth=false
                   customError=customError
                   placeholder=""
                   errorMessage=errorMessage
floatingLabel=true}}

<br/>

{{mdl-textfield label="Email"
                   required=false
                   fullWidth=false
                   customError=customError
                   placeholder=""
                   errorMessage=errorMessage
floatingLabel=true}}

<br/>

{{mdl-textfield label="Password"
                   required=false
                   fullWidth=false
                   customError=customError
                   placeholder=""
                   errorMessage=errorMessage
floatingLabel=true}}

<br/>

{{mdl-textfield label="Confirm Password"
                   required=false
                   customError=customError
                   placeholder=""
                   errorMessage=errorMessage
                   fullWidth=false
floatingLabel=true}}

<br/>

<span class="button-container">{{#mdl-button type="submit" colored=true mini=true}}Register{{mdl-icon icon="send"}}{{/mdl-button}}</span>

</div>
</div>
