{{!-- <div class="container"> --}}
<div align="center">

  <button>
    Sign Up With Google
  </button>

  <button>
    Sign Up With Facebook
  </button>

  <div>
    <div>Email: {{input value=email}}</div>
    <div>Password: {{input value=password}}</div>
    <div>First Name: {{input value=firstname}}</div>
    <div>Last Name: {{input value=lastname}}</div>
    <div>City: {{input value=city}}</div>
    <div>State: {{input value=state}}</div>
    <div>Radius: {{input value=radius}}</div>
  </div>
  <button {{action 'createAccount'}}>Sign Up</button>


</div>
